@font-face {
  font-family: OpenSans;
  src: url("./assets/fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url("./assets/fonts/Open_Sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: OpenSans-SemiBoldItalic;
  src: url("./assets/fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #f5f5f5;
  font-family: OpenSans, "sans-serif";
}

.icon {
  margin-right: 0.3em;
}
