.sidebar {
  background-color: #fff;
  height: 100%;
  width: 16em;
  position: fixed;
  right: 0;
  padding: 0.5em;
  padding-top: 0em;
  padding-left: 0em;
  margin-top: 3.2em;
  border-left: 1px solid #cecece;
}

.sidebar__header {
  background-color: #f5f5f5;
  font-family: Poppins;
  font-size: 12px;
  color: #979797;
  width: 100%;
  padding: 0.5em;
  font-weight: bold;
  border-bottom: 1px solid #cecece;
}
